@tailwind preflight;
@tailwind components;
@tailwind utilities;

.pt-safe {
  padding-top: env(safe-area-inset-top);
}

.pb-safe {
  padding-bottom: env(safe-area-inset-bottom);
}

* {
  -webkit-tap-highlight-color: transparent;
}


.active {
  transform: scale(0.95);
}

.active-animated {
  transition: transform 100ms ease-in-out;
}
